*.app
*.zip
SeismoSoil_v*.exe
*.png
*.prj
*.sh
*.tar.gz
*.log
*.7z
*.tar
All_executable_backups/*

#############
## LaTeX
#############
*.aux
*.out
*.toc
*.synctex*


#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


